.ikonk {
  position: relative;
}
.sorch {
  position: absolute;
  right: 0;
  top: 5px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: bisque;
  margin-bottom: 50px;
}
.contener {
  max-width: 1200px;
  margin: 0 auto;
}
.pikchor {
  display: flex;
  align-items: center;
  width: 400px;
  gap: 40px;
}
.welkom {
  display: flex;
}

.morgn {
  margin-top: 50px;
}
.futr__ichi{
    display: flex;
    gap: 60px;
  

}
.futr{
    display: flex;
    gap: 40px;
    margin-top: 60px;
    background-color: rgb(221, 215, 204);
    padding: 40px;
   
}